
extends base.pug

block content 
    video(src="/" + video.fileUrl, controls) 
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by #{owner.name}
    hr
    if String(video.owner) === user._id
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;